<h1>Reassign Tag</h1>

<% if @all_tags.count == 1 && @transactions_exist %>
  <p class="notification">In order to delete the last tag, you must delete all transactions first.</p>

<% elsif @transactions_exist %>

  <p>Before deleting a tag, we must re-assign its transactions to a different tag.</p>

  <p>Please select a new tag for the transactions currently classified as <%= @tag.name %>:</p>

  <form method="post" action="/tags/<%= @tag.id %>/delete">

    <select name="new_tag_id">
      <% for tag in @all_tags %>
      <% if tag.id != @tag.id %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
      <% end %>
    </select>
    <input type="submit" value="Reassign and Delete">
  </form>

<% else %>

  <p>There are no transactions linked to tag <%= @tag.name %>.</p>
  <p>Please click the <strong>Delete</strong> button below to proceed.</p>
  <form method="post" action="/tags/<%= @tag.id %>/delete">
    <input type="submit" value="Delete Tag <%= @tag.name %>">
  </form>

<% end %>
