<h1>User Details</h1>

<div class="user-details">
  <p><strong>First Name: </strong> <%= @user.first_name %></p>
  <p><strong>Last Name: </strong> <%= @user.last_name %></p>
  <p><strong>Budget: </strong> £<%= sprintf( "%.2f", @user.budget/100.00 ) %></p>
</div>

<a href="/users/<%= @user.id %>/edit" class="btn">Edit user details</a>

<p <%= 'class="notification"' if @user.near_budget_limit?() %>><strong>Current Total Spend: </strong> £<%= sprintf( "%.2f", Transaction.calculate_total_spend() / 100.00 ) %></p>
