<h1>View Transactions</h1>

<form method="get" action="/transactions">
  <fieldset>
    <legend>Filter by Tag:</legend>
    <label for="tag">Choose the tag:</label>
    <select name="tag_id" id="tag">
        <option value="0">all tags</option>
      <% @all_tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </fieldset>

  <fieldset>
    <legend>Filter by Transaction Date:</legend>
    <label for="start-date">From: </label>
    <input type="datetime-local" name="start_date" id="start-date" value="<%= Transaction.earliest_time() %>">
    <label for="end-date">To: </label>
    <input type="datetime-local" name="end_date" id="end-date" value="<%= Transaction.most_recent_time() %>">
  </fieldset>

  <fieldset>
    <legend>Order results by Transaction Time:</legend>

    <label for="unordered" class="radio-label">
      <input type="radio" name="order_by_time" value="" checked> Unordered
    </label>

    <label for="ascending" class="radio-label">
      <input type="radio" name="order_by_time" value="asc"> Oldest first
    </label>

    <label for="descending" class="radio-label">
      <input type="radio" name="order_by_time" value="desc"> Newest first
    </label>
  </fieldset>

  <input type="submit" value="Filter">
  <input type="reset" value="Clear Filter">
  <a href="/transactions" class="btn">View all</a>
</form>

<h2><%= @page_subtitle %></h2>

<% for transaction in @all_transactions %>

<p><strong>Date and time:</strong> <%= transaction.time_as_string() %> </p>
<p><strong>Merchant:</strong> <%= transaction.merchant.name %> </p>
<p><strong>Tag:</strong> <%= transaction.tag.name %> </p>
<p><strong>Amount:</strong> £<%= sprintf( "%.2f", transaction.amount()/100.00 ) %> </p>

<hr>

<% end %>

<% if @tag_total %>
<p><strong>Total spent on <%= @tag_name %>:</strong> £<%= sprintf( "%.2f", @tag_total/100.00 ) %></p>
<% end %>
<p><strong>Grand Total:</strong> £<%= sprintf( "%.2f", Transaction.calculate_total_spend() / 100.00 ) %></p>

<!--
See https://stackoverflow.com/questions/15900537/to-d-to-always-return-2-decimals-places-in-ruby
and https://blog.udemy.com/ruby-sprintf/
 -->
