<h1>View Transactions</h1>

<form method="get" action="/transactions" id="filter">
  <fieldset>
    <legend>Filter by Tag:</legend>
    <label for="tag">Choose the tag:</label>
    <select name="tag_id" id="tag">
        <option value="0">all tags</option>
      <% @all_tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </fieldset>

  <fieldset>
    <legend>Filter by Transaction Date:</legend>
    <label for="start-date">From: </label>
    <input type="datetime-local" name="start_date" id="start-date" value="<%= Transaction.earliest_time() %>">
    <label for="end-date">To: </label>
    <input type="datetime-local" name="end_date" id="end-date" value="<%= Transaction.most_recent_time() %>">
  </fieldset>

  <fieldset>
    <legend>Order results by Transaction Time:</legend>

    <label for="unordered" class="radio-label">
      <input type="radio" name="order_by_time" value="" checked> Unordered
    </label>

    <label for="ascending" class="radio-label">
      <input type="radio" name="order_by_time" value="asc"> Oldest first
    </label>

    <label for="descending" class="radio-label">
      <input type="radio" name="order_by_time" value="desc"> Newest first
    </label>
  </fieldset>

  <input type="submit" value="Filter" class="btn">
  <input type="reset" value="Clear Filter" class="btn">
  <a href="/transactions" class="btn">View all</a>
</form>

<table cellpadding="15">
  <caption><%= @page_subtitle %></caption>
  <tr>
    <th>Date and time</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
  </tr>
  <% for transaction in @all_transactions %>
  <tr>
    <td><%= transaction.time_as_string() %></td>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.name %></td>
    <td>£<%= sprintf( "%.2f", transaction.amount()/100.00 ) %></td>
  </tr>
  <% end %>
  <% if @tag_total && @tag_total != 0 %>
  <tr class="show-total">
    <td colspan="3">Total spent on current selection:</td>
    <td>£<%= sprintf( "%.2f", @tag_total/100.00 ) %></td>
  </tr>
  <% end %>
  <tr class="show-total <%= 'notification' if @user.near_budget_limit?() %>">
    <td colspan="3"> Grand Total: </td>
    <td>£<%= sprintf( "%.2f", Transaction.calculate_total_spend() / 100.00 ) %></td>
  </tr>
</table>


<!--
See https://stackoverflow.com/questions/15900537/to-d-to-always-return-2-decimals-places-in-ruby
and https://blog.udemy.com/ruby-sprintf/
 -->
