<h1>View Transactions</h1>

<form method="get" action="/transactions">
  <fieldset>
    <legend>Filter by:</legend>
    <label for="tag">Tag:</label>
    <select name="tag_id" id="tag">
        <option value="0">all tags</option>
      <% @all_tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
    <label for="start-date">Start Date: </label>
    <input type="datetime-local" name="start_date" id="start-date" value="<%= Transaction.earliest_time() %>">
    <label for="end-date">End Date: </label>
    <input type="datetime-local" name="end_date" id="end-date" value="<%= Transaction.most_recent_time() %>">
  </fieldset>
  <input type="submit" value="Filter">
</form>

<h2><%= @page_subtitle %></h2>

<% for transaction in @all_transactions %>

<p><strong>Date and time</strong> <%= transaction.time_as_string() %> </p>
<p><strong>Merchant:</strong> <%= transaction.merchant.name %> </p>
<p><strong>Tag:</strong> <%= transaction.tag.name %> </p>
<p><strong>Amount:</strong> £<%= sprintf( "%.2f", transaction.amount()/100.00 ) %> </p>

<hr>

<% end %>

<p><strong>Grand Total:</strong> £<%= sprintf( "%.2f", Transaction.calculate_total_spend() / 100.00 ) %></p>

<!--
See https://stackoverflow.com/questions/15900537/to-d-to-always-return-2-decimals-places-in-ruby
and https://blog.udemy.com/ruby-sprintf/
 -->
